@charset "UTF-8";

/* Sienna M. Wood, 2016 */
/*--------------------------------------------------------------
# Fonts and Imports
--------------------------------------------------------------*/
@import '../../sienna-boilerplate/sienna-boilerplate.less';
@import url('https://fonts.googleapis.com/css?family=Vidaloka');

/*--------------------------------------------------------------
# Variables and Mixins
--------------------------------------------------------------*/
// Colors
@primary: #d04422;
@secondary: lighten(@dark-gray, 13.5%);

@white: #FFF;
@light-gray: #ccc;
@gray: #777;
@dark-gray: #555;
@black: #363636;

@link-color: lighten(@primary, 10%);
@font-color: @dark-gray;
@border-color: @light-gray;

@base-url: "";

.font-sans () {
    font-family: @font-sans;
    font-weight: normal;
}

.font-serif() {
    font-family: "Georgia", "Times New Roman", serif;
}

.font-display() {
    font-family: "Vidaloka", @font-sans;
}

.font-monospace() {
    font-family: @font-mono;
}

.font-unicode() {
    font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', @font-mono;
}

body {
    color: @light-gray;
    background: @black;
    font-size: 18px;
}

// Typography
h1, h3, h4, h5, h6 {
    .font-display();
}

h1 #logo_link {
    color: @white;
}

h2.subtitle {
    text-align: center;
    text-transform: lowercase;
    font-size: 100%;
    margin: 0;
}

code {
    background-color: transparent;
    border-color: @dark-gray;
}

// Articles
article {
    padding: 2rem 0;
    border-bottom: solid 1px @gray;

    h2 {
        .font-sans();
        color: @white;
        margin: 0 0 3rem 0;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: 110%;
    }

    h3 {
        margin-top: 1rem;
    }

    img {
        max-width: 80%;
    }

    .links {
        margin-bottom: 3rem;
    }
}

// Forms, Lists
button, input[type=button], input[type=submit], .button {
    &:hover, &:active, &:focus {
        color: @light-gray;
    }
}

#main_content ul, #main_content ol {
    list-style-position: inside;
    margin-left: 3rem;
    text-indent: -3rem;
}

// Navigation
nav#main-nav {
    background-color: @gray;
    margin: 2rem 0 4rem 0;
    border-top: @primary solid .7rem;

    .nav-toggle {
        color: @light-gray;
        margin: 0;
    }

    ul#nav-menu {
        background: @gray;
        margin-bottom: 4rem;

        li {
            a {
                color: @black;

                &.active {
                    color: @white;
                }

                &:hover, &:focus, &.focus {
                    color: @white;
                    background-color: @primary;
                }
            }
        }
    }
}

@media (min-width: @bp-larger-than-phablet) {
    nav#main-nav {
        background-color: @gray;
        border-top: @primary solid .7rem;

        ul#nav-menu {
            background: @gray;
            margin-bottom: 0;

            > li {
                > a {
                    color: @light-gray;

                    &:hover, &:focus, &.focus, &.active {
                        color: @white;
                    }
                }

                ul li a {
                    color: @dark-gray;

                    &.active {
                        color: @black;
                    }

                    &:hover, &:focus, &.focus {
                        color: @white;
                        background-color: @primary;
                    }
                }
            }
        }
    }
}

// Footer
footer #attr {
    margin: 3rem 0;
}

// Tech stack icons and logos
.tech-stack img {
    display: inline-block;
    height: 4rem;
    margin: .5rem .5rem 2rem .5rem;
}

// Headshot
.headshot {
    max-height: 300px;
}

// Miscellaneous reusable classes
.align-center {
    text-align: center;
}
