{% extends "layout.nunjucks" %}
{% block content %}

<article id="about">
  <p>I believe in writing elegant, human-friendly code that is efficient and scalable. I have
    expertise in end-to-end, full-stack development and years of experience designing,
    implementing, and deploying customer-facing websites.</p>
  <div id="tech-stack" class="tech-stack align-center">
    <img alt="JavaScript" src="/images/logos/js.png">
    <img alt="React" src="/images/logos/react.png">
    <img alt="Redux" src="/images/logos/redux.png">
    <img alt="Node.js" src="/images/logos/nodejs.png">
    <img alt="Ruby" src="/images/logos/ruby.png">
    <img alt="Ruby on Rails" src="/images/logos/rails.png">
    <img alt="SASS and SCSS" src="/images/logos/sass.png">
    <img alt="LESS" src="/images/logos/less.png">
    <img alt="Photoshop" src="/images/logos/photoshop.png">
    <img alt="Illustrator" src="/images/logos/illustrator.png">
  </div>
</article>
<article id="contact">
  <h2>Contact</h2>
  <dl>
    <dt>Email</dt>
    <dd><a href="mailto:sienna.m.wood@gmail.com">sienna.m.wood@gmail.com</a></dd>
    <dt>GitHub</dt>
    <dd><a href="https://github.com/siennamw">https://github.com/siennamw</a></dd>
    <dt>LinkedIn</dt>
    <dd><a href="https://www.linkedin.com/in/sienna-m-wood/">https://www.linkedin.com/in/sienna-m-wood/</a>
    </dd>
  </dl>
</article>
<article id="projects">
  <h2>Projects</h2>
  <div class="row">
    <div class="nine columns">
      <h3>Ouroboros</h3>
      <p>Peer-to-peer, in-browser snake game. Created to explore peer-to-peer architectures and their
        challenges for a fast, reflex-based game.</p>
      <div class="tech-stack">
        <img alt="JavaScript" src="/images/logos/js.png">
        <img alt="React" src="/images/logos/react.png">
        <img alt="Redux" src="/images/logos/redux.png">
        <img alt="Node.js" src="/images/logos/nodejs.png">
        <img alt="SASS and SCSS" src="/images/logos/sass.png">
      </div>
      <ul>
        <li><a href="https://ouroboros-game.herokuapp.com/" target="_blank">Demo</a></li>
        <li><a href="https://github.com/ouroboros-team/ouroboros" target="_blank">GitHub</a></li>
      </ul>
    </div>
    <div class="three columns align-center">
      <a href="https://ouroboros-game.herokuapp.com/" target="_blank">
        <img alt="Ouroboros logo" src="/images/ouroboros.png">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="nine columns">
      <h3>nCoda</h3>
      <p>Open-source software for encoding and engraving music documents.</p>
      <div class="tech-stack">
        <img alt="JavaScript" src="/images/logos/js.png">
        <img alt="React" src="/images/logos/react.png">
        <img alt="Redux" src="/images/logos/redux.png">
        <img alt="LESS" src="/images/logos/less.png">
      </div>
      <ul>
        <li><a href="https://ncodamusic.org/" target="_blank">Project Website</a></li>
        <li><a href="https://github.com/nCoda" target="_blank">GitHub</a></li>
      </ul>
    </div>
    <div class="three columns align-center">
      <a href="https://github.com/nCoda" target="_blank">
        <img alt="nCoda logo" src="/images/nCoda-logo.png">
      </a>
    </div>
  </div>
  <h3>mei-tools-atom</h3>
  <p>Package (add-on) for the <a href="https://atom.io/" target="_blank">Atom text editor</a>.
    Uses the <a href="http://www.verovio.org/" target="_blank"><i>Verovio</i></a> music engraving
    library to provide on-the-fly music notation rendering
    for <a href="http://music-encoding.org/" target="_blank">MEI</a>, an open-source XML system for
    the semantic encoding of music documents.</p>
  <div class="tech-stack">
    <img alt="JavaScript" src="/images/logos/js.png">
    <img alt="MEI" src="/images/logos/mei.png">
    <img alt="Verovio" src="/images/logos/verovio.png">
  </div>
  <ul>
    <li><a href="https://github.com/siennamw/mei-tools-atom" target="_blank">GitHub</a></li>
  </ul>

</article>
<article id="music">
  <h2>Musicology</h2>
  <div class="row">
    <div class="eight columns">
      <p>I hold a Ph.D. in Music from the University of Colorado at Boulder. My research,
        publications, and conference presentations concern European music of the 15th and 16th
        centuries. I am an experienced teacher of music at the undergraduate and graduate
        levels.</p>
      <ul>
        <li><a href="https://rowman.com/ISBN/9781498546812" target="_blank">"Anti-Inquisition
          Propaganda in Music at the Outbreak of the Dutch Revolt: No&eacute;
          Faignient's <i>Chansons, madrigales et motetz</i>," in <i>Tyranny and Music</i></a></li>
        <li><a href="http://pqdtopen.proquest.com/pubnum/3743677.html" target="_blank">"<i>Chansons,
          madrigales & motetz à 3 parties</i> by Noé Faignient: A Composer's Debut in
          16th-century Antwerp" (dissertation)</a></li>
        <li>
          <a href="http://www.oxfordbibliographies.com/view/document/obo-9780199757824/obo-9780199757824-0208.xml"
             target="_blank">
            “Liedekens, 15th- and 16th-Century Dutch Polyphonic Song,” in <i>Oxford Bibliographies
            in Music</i></a></li>
      </ul>
      <p>At the intersection of software development and music research, I am involved in semantic
        music encoding, digital edition-making, technology in music education, and the development
        of software for these purposes.</p>
      <ul>
        <li><a href="https://github.com/nCoda" target="_blank"><i>nCoda</i></a></li>
        <li><a href="https://github.com/siennamw/mei-tools-atom" target="_blank">MEI Tools for Atom</a></li>
        <li><a href="http://www.musiccrashcourses.com/" target="_blank"><i>Music Crash
          Courses</i></a></li>
      </ul>
    </div>
    <div class="four columns align-center">
      <img src="/images/CMMa3_18.jpg">
    </div>
  </div>
</article>
{% endblock %}
