{% extends "layout.nunjucks" %}
{% block content %}

<article id="about">
  <p>I write elegant, human-friendly code optimized for efficiency and scalability. I believe in
    tackling difficult problems and developing a deep understanding of their solutions.  I have
    expertise in end-to-end, full-stack development and years of experience designing, implementing,
    and deploying customer-facing web applications.</p>
  <div id="tech-stack" class="tech-stack align-center">
    <img alt="JavaScript" title="JavaScript" src="/images/logos/js.png">
    <img alt="React" title="React" src="/images/logos/react.png">
    <img alt="Redux" title="Redux" src="/images/logos/redux.png">
    <img alt="Node.js" title="Node.js" src="/images/logos/nodejs.png">
    <img alt="Ruby" title="Ruby" src="/images/logos/ruby.png">
    <img alt="Ruby on Rails" title="Ruby on Rails" src="/images/logos/rails.png">
    <img alt="Sinatra" title="Sinatra" src="/images/logos/sinatra.png">
    <img alt="PostgreSQL" title="PostgreSQL" src="/images/logos/psql.png">
    <img alt="SCSS" title="SCSS" src="/images/logos/sass.png">
    <img alt="LESS" title="LESS" src="/images/logos/less.png">
    <img alt="Adobe Photoshop" title="Adobe Photoshop" src="/images/logos/photoshop.png">
    <img alt="Adobe Illustrator" title="Adobe Illustrator" src="/images/logos/illustrator.png">
  </div>
</article>
<article id="contact">
  <div class="row">
    <div class="seven columns">
      <h2>Contact</h2>
      <dl>
        <dt>Email</dt>
        <dd><a href="mailto:sienna.m.wood@gmail.com">sienna.m.wood@gmail.com</a></dd>
        <dt>GitHub</dt>
        <dd><a href="https://github.com/siennamw">https://github.com/siennamw</a></dd>
        <dt>LinkedIn</dt>
        <dd><a href="https://www.linkedin.com/in/sienna-m-wood/">https://www.linkedin.com/in/sienna-m-wood/</a>
        </dd>
      </dl>
    </div>
    <div class="five columns align-center">
      <img class="headshot" alt="Sienna M. Wood" src="/images/sienna.jpg">
    </div>
  </div>
</article>
<article id="projects">
  <h2>Projects</h2>

  <h3>Ouroboros</h3>
  <div class="row">
    <div class="nine columns">
      <div class="tech-stack">
        <img alt="JavaScript" title="JavaScript" src="/images/logos/js.png">
        <img alt="React" title="React" src="/images/logos/react.png">
        <img alt="Redux" title="Redux" src="/images/logos/redux.png">
        <img alt="Node.js" title="Node.js" src="/images/logos/nodejs.png">
        <img alt="SCSS" title="SCSS" src="/images/logos/sass.png">
      </div>
      <p>Peer-to-peer, in-browser, multiplayer snake game. Created to explore peer-to-peer
        architectures and their challenges for a fast, reflex-based game.</p>
      <ul>
        <li>Co-creator and end-to-end developer</li>
        <li>Implemented conflict-free replicated data types (CRDTs)</li>
        <li>Optimized for real-time multiplayer gaming</li>
        <li>Used a predictive model for real-time effect in the presence of latency</li>
        <li>Researched and implemented the most efficient peer-to-peer network topology for our use case</li>
      </ul>
    </div>
    <div class="three columns align-center">
      <a href="https://ouroboros-game.herokuapp.com/about">
        <img alt="Ouroboros logo" src="/images/ouroboros.png">
      </a>
    </div>
  </div>
  <div class="links">
    <a href="https://ouroboros-game.herokuapp.com/about" class="button button-primary">Deployment and Write Up</a>
    <a href="https://github.com/ouroboros-team/ouroboros" class="button button-primary">GitHub</a>
  </div>

  <h3>nCoda</h3>
  <div class="row">
    <div class="nine columns">
      <div class="tech-stack">
        <img alt="JavaScript" title="JavaScript" src="/images/logos/js.png">
        <img alt="React" title="React" src="/images/logos/react.png">
        <img alt="Redux" title="Redux" src="/images/logos/redux.png">
        <img alt="LESS" title="LESS" src="/images/logos/less.png">
        <img
                alt="MEI: Music Encoding Initiative"
                title="MEI: Music Encoding Initiative"
                src="/images/logos/mei.png"
        >
        <img alt="Verovio" title="Verovio" src="/images/logos/verovio.png">
      </div>
      <p>Open-source software for encoding and engraving music documents.</p>
      <ul>
        <li>Core contributor to open-source project</li>
        <li>Implemented PDF viewer, background saving, and save status indicator</li>
        <li>Refactored toolbars as reusable components; improved usability and uniformity of UI</li>
      </ul>
    </div>
    <div class="three columns align-center">
      <a href="https://github.com/nCoda">
        <img alt="nCoda logo" src="/images/nCoda-logo.png">
      </a>
    </div>
  </div>
  <div class="links">
    <a class="button button-primary" href="https://ncodamusic.org/">Project Website</a>
    <a class="button button-primary" href="https://github.com/nCoda">GitHub</a>
  </div>

  <h3>mei-tools-atom</h3>
  <div class="tech-stack">
    <img alt="JavaScript" title="JavaScript" src="/images/logos/js.png">
    <img alt="LESS" title="LESS" src="/images/logos/less.png">
    <img
            alt="MEI: Music Encoding Initiative"
            title="MEI: Music Encoding Initiative"
            src="/images/logos/mei.png"
    >
    <img alt="Verovio" title="Verovio" src="/images/logos/verovio.png">
  </div>
  <p>Package (add-on) for the <a href="https://atom.io/">Atom text editor</a>.
    Uses the <a href="http://www.verovio.org/"><i>Verovio</i></a> music engraving
    library to provide on-the-fly music notation rendering
    for <a href="http://music-encoding.org/">MEI</a>, an open-source XML system for
    the semantic encoding of music documents.</p>
  <ul>
    <li>Deployed to the official Atom package registry</li>
    <li>Supports the use of Atom as a no-cost XML editor in the MEI community</li>
    <li>Lowers barriers to entry (cost, technical savvy) for new music encoders</li>
  </ul>
  <div class="links">
    <a class="button button-primary" href="https://github.com/siennamw/mei-tools-atom">GitHub</a>
    <a class="button button-primary" href="https://atom.io/packages/mei-tools-atom">Atom Package Registry</a>
  </div>

  <h3>C2M2: Collections of Cinema and Media Music</h3>
  <div class="row">
    <div class="nine columns">
      <div class="tech-stack">
        <img alt="Ruby" title="Ruby" src="/images/logos/ruby.png">
        <img alt="Sinatra" title="Sinatra" src="/images/logos/sinatra.png">
        <img alt="PostgreSQL" title="PostgreSQL" src="/images/logos/psql.png">
        <img alt="LESS" title="LESS" src="/images/logos/less.png">
        <img alt="JavaScript" title="JavaScript" src="/images/logos/js.png">
      </div>
      <p>Database of archival collections of film and media music. Co-created with <a href="http://www.michaelwharris.net/">
        Michael W. Harris, Ph.D.</a></p>
      <ul>
        <li>Designed and optimized relational database according to specifications of co-creator</li>
        <li>Implemented database views to simplify and standardize queries for various categories
          (composer, director, country of origin, etc.)</li>
      </ul>
    </div>
    <div class="three columns align-center">
      <a href="https://github.com/siennamw/c2m2">
        <img alt="C2M2 logo" src="/images/c2m2.png">
      </a>
    </div>
  </div>
  <div class="links">
    <a class="button button-primary" href="https://github.com/siennamw/c2m2">GitHub</a>
    <a class="button button-primary" href="http://www.c2m2.org/">Website (Info &amp; Placeholder)</a>
  </div>

  <h3>Reaction</h3>
  <div class="tech-stack">
    <img alt="Ruby" title="Ruby" src="/images/logos/ruby.png">
    <img alt="Ruby on Rails" title="Ruby on Rails" src="/images/logos/rails.png">
    <img alt="JavaScript" title="JavaScript" src="/images/logos/js.png">
    <img alt="React" title="React" src="/images/logos/react.png">
  </div>
  <p>Clone of <i>Trello</i> project management software with Rails API and React front end.</p>
  <div class="links">
    <a class="button button-primary" href="https://github.com/siennamw/reaction-trello-clone">GitHub</a>
  </div>
</article>
<article id="music">
  <h2>Musicology</h2>
  <div class="row">
    <div class="eight columns">
      <p>I hold a Ph.D. in Music from the University of Colorado at Boulder. My research,
        publications, and conference presentations concern European music of the 15th and 16th
        centuries. I am an experienced teacher of music at the undergraduate and graduate
        levels.</p>
      <ul>
        <li><a href="https://rowman.com/ISBN/9781498546812">"Anti-Inquisition
          Propaganda in Music at the Outbreak of the Dutch Revolt: No&eacute;
          Faignient's <i>Chansons, madrigales et motetz</i>," in <i>Tyranny and Music</i></a></li>
        <li><a href="http://pqdtopen.proquest.com/pubnum/3743677.html">"<i>Chansons,
          madrigales & motetz à 3 parties</i> by Noé Faignient: A Composer's Debut in
          16th-century Antwerp" (dissertation)</a></li>
        <li>
          <a href="http://www.oxfordbibliographies.com/view/document/obo-9780199757824/obo-9780199757824-0208.xml">
            “Liedekens, 15th- and 16th-Century Dutch Polyphonic Song,” in <i>Oxford Bibliographies
            in Music</i></a></li>
      </ul>
      <p>At the intersection of software development and music research, I am involved in semantic
        music encoding and digital edition-making, as well as the development of tools for these
        purposes and technologies for music education broadly.</p>
      <ul>
        <li><a href="https://github.com/nCoda"><i>nCoda</i></a></li>
        <li><a href="https://github.com/siennamw/mei-tools-atom">MEI Tools for Atom</a></li>
        <li><a href="https://github.com/siennamw/c2m2"><i>C2M2</i></a></li>
        <li><a href="https://github.com/siennamw/music-crash-courses"><i>Music Crash Courses</i></a></li>
      </ul>
    </div>
    <div class="four columns align-center">
      <img src="/images/CMMa3_18.jpg">
    </div>
  </div>
</article>
{% endblock %}
